@model Bai6_Validation.Models.Book

<h2>THÊM SÁCH</h2>

<form asp-action="Create" method="post">

    <div>
        <label>Tên sách</label>
        <br />

        <input asp-for="Name" />

        <br />

        <span asp-validation-for="Name"
              style="color:red"></span>
    </div>

    <br />

    <div>
        <label>Giá</label>
        <br />

        <input asp-for="Price" />

        <br />

        <span asp-validation-for="Price"
              style="color:red"></span>
    </div>

    <br />

    <button type="submit">
        Thêm
    </button>

    <a asp-action="Index">
        Danh sách sách
    </a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}